div.islandora_bookmark_users div.form-item {
    width: 200px;
    display: inline-block;
    display: -moz-inline-block;
    *display:inline; 
    *zoom:1;
    *vertical-align: 2%;
}

div.islandora_bookmark_listname div.form-item {
    width: 220px;
    display: inline-block;
    display: -moz-inline-block;
    *display:inline; 
    *zoom:1; 
    *vertical-align: 2%;
}

div.islandora_bookmark_adduser div.form-item {
  width: 199px;
  display:inline-block;
  display: -moz-inline-block;
  *display:inline; 
  *zoom:1; 
  *vertical-align: 2%;
}

.ui-tabs-hide {
  *display: none;
  *position: relative;
}