div.islandora-bookmark-users div.form-item {
    width: 200px;
    display: inline-block;
    display: -moz-inline-block;
    margin-right: 10px;
    *display:inline; 
    *zoom:1;
    *vertical-align: 2%;
}

div.islandora-bookmark-listname div.form-item {
    display: inline-block;
    display: -moz-inline-block;
    margin-right: 10px;
    *display:inline; 
    *zoom:1; 
    *vertical-align: 2%;
}

div.islandora-bookmark-adduser div.form-item {
  display:inline-block;
  display: -moz-inline-block;
  margin-right: 10px;
  *display:inline; 
  *zoom:1; 
  *vertical-align: 2%;
}

div.islandora-bookmark-error-message {
    background-image: linear-gradient(#EE5F5B, #C43C35);
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.ui-tabs-hide {
  *display: none;
  *position: relative;
}

#islandora-bookmark .form-item-add-bookmarks
{
  display: inline-block;
  margin-right: 10px;
}

#islandora-bookmark-detailed-form table .operations
{
  width: 100px;
}